.navbar{
    display: flex;
    justify-content: space-between;
    background-color: orange;
   
}
body{
    background-color: rgb(108, 150, 184);
}

.image img{
    width: 80px;
    padding-top: 5px;
    padding-left: 2px;
    margin: 5px;
}
.continer ul{
    display: flex;
    gap: 10px;
    padding-right: 30px;
    margin-right: 10px;
}
a{
    text-decoration: none;
}
.card{
    border: 2px solid black;
    width: 300px;
    height: 400px;
    position: relative;
}
.card img{
    width: 300px;
    height: 350px;
    
}
.card p{
    background-color: tan;    
}
.like{
    background-color: red;
    position: absolute;
    top: 5px;
    right: 5px;
}
.d-flex{
    display: flex;
    gap: 5%;
    padding-left: 15px;
    margin: 5px;
}
.Info{
    text-align: center;
    border: 1px solid black;
    background-color: tan;
    padding-top: 10px;
    margin-top: 100px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.h{
    text-align: center;
    padding-left: 370px;
}